*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(image.png);
}
.circle{
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    width: 444px;
    height: 585px;
     left:calc(50% - 444px\2);
     top: calc(50% - 584px\2 + 19px);
}

input{
    
    width: 100%;
    height: 44px;
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 25px;
}

input:focus{
    outline: none;
    border: 1px solid #F2F2F2;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.register-form-container{
    z-index: 2;
    position: relative;
    min-width: 444px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    border-radius: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-top: 60px;
} 

.form-title{
    color:#434343;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 60px;
}

.form-field{
    margin-bottom: 15.96px;

}
.buttonF{
    font-weight: 400;
    font-size: 16px;
    background: #305DB8;
    display: block;
    height: 35px;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    float: left;
    width: 50%;
}
.buttonG{
    font-weight: 400;
    font-size: 16px;
    background: #DF4A32;
    display: block;
    height: 35px;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    float: right;
    width: 50%;
}
.buttonF:hover{
    background-color:  #022263;

}
.buttonG:hover{
   background-color: #AB1F09; 
}
a.buttonG .buttonF{
    text-decoration: none;

}
.button{

    width: 324px;
    height: 46px;
    left: 60px;
    top: 500px;
    background:  rgba(60, 184, 120, 0.8);border-radius: 4px;
}

button:hover{
     background: #01813f;
}
.divider{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}


.checkbox{
    width: 324px;
    padding: 2px;
    margin-bottom: 2px;
}
.left{
    display: inline-block;
    width: 80%;
}
.right{
    display: inline-block;
    width: calc(20%-3px);
    margin-left: 3pc;
    
}

svg{
    fill: #FFFFFF;
}

svg:hover{
    fill : #01813f;
    
}

